discord.py
discord
discord-py-slash-command
pycaw
numpy
requests
scipy
sounddevice
pywin32
mss
pynput
comtypes
opencv_python
PyAutoGUI
pyinstaller
pycryptodomex
requests
pycaw
pypiwin32
opencv-python
pyarmor
aiohttp
browserhistory
pynput
asyncio